<!DOCTYPE html>
<html>
<head>
	<#include "/common/header.html">
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">

		<div class="layui-inline">
			<a class="layui-btn modal-iframe" id="btn-add">新增</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel ajax-all"  data-name="id" id="btn-batch-del">批量删除</a>
		</div>
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" name="keyword" id="keyword" placeholder="菜单名称" class="layui-input search_input">
		    </div>
		    <button lay-submit class="layui-btn" id="btn-search">查找</button>
		</div>

	</blockquote>
	<div class="layui-form links_list">
	  	<table class="layui-table" id="menuTable" lay-filter="menuTable">

		</table>
		<script type="text/html" id="btn-tpl">
			<a class="layui-btn layui-btn-mini modal-iframe" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-mini modal-iframe" lay-event="addItem">添加子菜单</a>
			<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
		</script>
	<#include "/common/version.html">
	<script type="text/javascript">
        layui.use('table',function(){
            var table = layui.table;//表格对象
            table.render({
                    //渲染对象
                    elem: '#menuTable',
                    //表格高度
                    height: 460,
                    //开启隔行背景
                    even: true,
                    //请求接口地址
                    url: "/menu/page",
                    //开启分页
                    page: true,
                    //分页层级
                    limits: [10, 20, 30, 40, 50],
                    //分页大小
                    limit: 10,
                    //设置容器唯一ID
                    id: 'menuTable',
                    //表头选项
                    cols: [[
                        //列头复选框
                        {field: 'id',checkbox: true},
                        {field: 'code', title: '编码', width: 100},
                        {field: 'menuName', title: '菜单名称', width: 150, sort: true},
                        {field: 'url', title: 'URL', width: 200},
                        {field: 'resource', title: '动作', width: 100 },
                        {field: 'icon', title: '图标', width: 90},
                        {field: 'sort', title: '排序', width: 100},
                        {field: 'deep', title: '深度', width: 100},
                        {field: 'experience', fixed: 'right',title: '操作', width: 140, templet: '#btn-tpl'}
                    ]]
                }
            );
            //监听工具条
            table.on('tool(menuTable)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    layer.open({
                        type: 2, //此处以iframe举例
                        title: '编辑菜单',
                        full: false,
                        area: ['390px', '300px'],
                        shade: 0,
                        maxmin: true,
                        content: "/menu/edit?id=" + data.id,
                        btn: ['关闭'], //只是为了演示
                        btn2: function () {
                            layer.closeAll();
                        },
                        success: function (layero) {
                            layer.setTop(layero); //重点2
                        }
                    });
                } else if (obj.event === 'addItem') {
                    layer.open({
                        type: 2, //此处以iframe举例
                        title: '添加子菜单',
                        full: false,
                        area: ['390px', '300px'],
                        shade: 0,
                        maxmin: true,
                        content: "/menu/addItem?id=" + data.id,
                        btn: ['关闭'], //只是为了演示
                        btn2: function () {
                            layer.closeAll();
                        },
                        success: function (layero) {
                            layer.setTop(layero); //重点2
                        }
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }
            });
            $("#btn-search").bind("click",function () {
                table.reload('menuTable', {
                    url: '/menu/page'
                    ,where: {keyword:$("#keyword").val()} //设定异步数据接口的额外参数
                });
            });
			$("#btn-add").bind("click",function () {
                layer.open({
                    type: 2, //此处以iframe举例
                    title: '添加菜单',
                    full: false,
                    area: ['600px', '480px'],
                    shade: 0,
                    maxmin: true,
                    content: "/menu/add" ,
                    btn2: function () {
                        layer.closeAll();
                    },
                    success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
			});
            $("#btn-batch-del").bind("click",function () {
                $.post('/menu/delete', {id:100000}, function(result){
                    layer.open({
                        type: 1,
                        content: result.msg //注意，如果str是object，那么需要字符拼接。
                    });
                });
            });
        });
	</script>
</body>
</html>