<!DOCTYPE html>
<html>
<head>
	<#include "/common/header.html"/>
</head>
<body class="childrenBody">
	<form class="layui-form form" id="addFrom" action="#" method="post" onsubmit="return false">
		<input type="hidden" id="id" name="id" value="${parent.id!}">
		<div class="layui-form-item">
			<label class="layui-form-label">用户ID:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="userId" name="userId" value="${parent.userId!}" jq-verify="required|userId" placeholder="请输入用户ID">
			</div>
			<label class="layui-form-label">姓名:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="realName" name="realName" value="${parent.realName!}" jq-verify="required|realName" placeholder="请输入姓名">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">座机:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="telePhone" name="telePhone" value="${parent.telePhone!}" jq-verify="required|telePhone"  placeholder="请输入座机">
			</div>
			<label class="layui-form-label">手机:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="mobilePhone" name="mobilePhone" value="${parent.mobilePhone!}" jq-verify="required|mobilePhone"  placeholder="请输入手机">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微信号:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="wxCode" name="wxCode" value="${parent.wxCode!}" jq-verify="required|wxCode"  placeholder="请输入微信号">
			</div>
			<label class="layui-form-label">家庭收入(元):</label>
			<div class="layui-input-inline">
				<input type="number" class="layui-input" id="familyIncome" name="familyIncome" value="${parent.familyIncome!}" placeholder="请输入家庭收入">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">身份证号:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="idCode" name="idCode" value="${parent.idCode!}" jq-verify="required|idCode"  placeholder="请输入身份证号">
			</div>
			<label class="layui-form-label">年龄:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="age" name="age" value="${parent.age!}" jq-verify="required|age"  placeholder="请输入年龄">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">所在城市:</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="city" name="city" value="${parent.city!}" jq-verify="required|city"  placeholder="请输入所在城市">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别:</label>
			<div class="layui-input-inline">
				<#if parent.sex == 1>
					<input type="radio" name="sex" value="1" title="男" checked>
					<input type="radio" name="sex" value="0" title="女" >
					<#else>
						<input type="radio" name="sex" value="1" title="男" >
						<input type="radio" name="sex" value="0" title="女" checked>
				</#if>
			</div>
			<label class="layui-form-label">状态:</label>
			<div class="layui-input-inline">
				<#if parent.status == 1>
					<input type="radio" name="status" value="1" title="启用" checked>
					<input type="radio" name="status" value="0" title="禁止" >
					<#else>
						<input type="radio" name="status" value="1" title="启用">
						<input type="radio" name="status" value="0" title="禁止" checked>
				</#if>

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述:</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入描述" id="introduce" name="introduce" class="layui-textarea">${parent.introduce!}</textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" onclick="save()"><i class="iconfont icon-submit"></i> 提交</button>
				<!--<button class="layui-btn" jq-submit lay-filter="submit"><i class="iconfont icon-submit"></i> 提交</button>-->
				<button type="reset" class="layui-btn fds"><i class="iconfont icon-reset"></i> 重置</button>
		    </div>
		</div>
	</form>
	<#include "/common/version.html"/>
	<script type="text/javascript">

        layui.use('form', function(){
            //初始化form
            var form = layui.form;
        });

        //用ajax提交表单
        function save() {
            //用户ID
			var userId = $("#userId").val().trim();
            if(userId == "" || userId.length == 0){
                layer.msg("用户ID不能为空!");
                return;
            }
            //姓名
            var realName = $("#realName").val().trim();
            if(realName == "" || realName.length == 0){
                layer.msg("姓名不能为空!");
                return;
            }
            //座机,可不填
            var telePhone = $("#telePhone").val().trim();
            //中国国家长途代码（区号）+座机号码+分机号码(国内地区长途代码（区号）)
            var telePhoneReg = /^(([0\+]\d{2,3}-)?(0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;
            // or  "^(0\\d{2}-\\d{8}(-\\d{1,4})?)|(0\\d{3}-\\d{7,8}(-\\d{1,4})?)$"
            if( telePhone != "" && !telePhoneReg.test(telePhone)){
                layer.msg("座机格式不对!");
                return;
            }
            //手机
            var mobilePhone = $("#mobilePhone").val().trim();
            var mobilePhoneReg = "^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\\d{8}$";
            // or  /^[1][3,4,5,7,8][0-9]{9}$/
            if( !mobilePhone.match(mobilePhoneReg) ){
                layer.msg("手机号格式不对!");
                return;
            }
            //身份证号
            var idCode = $("#idCode").val().trim();
            // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
            var idCodeReg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if(!idCodeReg.test(idCode) ) {
                layer.msg("身份证格式不合法");
                return;
            }
            //年龄
            var age = $("#age").val().trim();
            if(age == "" || age.length == 0){
                layer.msg("年龄不能为空!");
                return;
            }
            //所在城市
            var city = $("#city").val().trim();
            if(city == "" || city.length == 0){
                layer.msg("所在城市不能为空!");
                return;
            }
            $.ajax({
                type:"post",
                url:"/parent/doEdit",
                data: $("#addFrom").serialize(),//表单数据
                dataType:"json",
                success:function(json){
                    if(json.status == 200){
                        parent.layer.msg(json.msg,{time:1500});//保存成功提示
                        parent.table.reload("dataReload");//刷新table
                    }else{
                        parent.layer.msg('保存异常!');
                    }
                    parent.layer.closeAll('iframe');//关闭弹窗
                }
            });
        }

	</script>
</body>
</html>