<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.comment.TDyvideoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.comment.TDyvideo">
		<id column="id" property="id" />
		<result column="bookImg" property="bookImg" />
		<result column="videoUrl" property="videoUrl" />
		<result column="dynamicId" property="dynamicId"/>
		<result column="size" property="size" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
