<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.task.TClassTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.task.TClassTask">
		<id column="id" property="id" />
		<result column="leessonId" property="leessonId" />
		<result column="classId" property="classId" />
		<result column="content" property="content" />
		<result column="video" property="video" />
		<result column="imgUrls" property="imgUrls" />
		<result column="endTime" property="endTime" />
		<result column="beginTime" property="beginTime" />
		<result column="createTime" property="createTime" />
		<result column="createUserId" property="createUserId" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
