<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.task.TClassWorkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.task.TClassWork">
		<id column="id" property="id" />
		<result column="lessonId" property="lessonId" />
		<result column="courseId" property="courseId" />
		<result column="dynamicId" property="dynamicId"/>
		<result column="endTime" property="endTime" />
		<result column="beginTime" property="beginTime" />
		<result column="createTime" property="createTime" />
		<result column="createUserId" property="createUserId" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
