<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.task.TStudentTaskMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.task.TStudentTask">
		<id column="id" property="id" />
		<result column="studentId" property="studentId" />
		<result column="workId" property="workId" />
		<result column="completion" property="completion" />
		<result column="dynamicId" property="dynamicId"/>
		<result column="createTime" property="createTime" />
		<result column="userId" property="userId" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
