<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.message.TRemindMessageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.message.TRemindMessage">
		<id column="id" property="id" />
		<result column="userId" property="userId" />
		<result column="fromUserId" property="fromUserId" />
		<result column="tile" property="tile" />
		<result column="dyMsgId" property="dyMsgId" />
		<result column="remindType" property="remindType" />
		<result column="jmsType" property="jmsType" />
		<result column="messageContent" property="messageContent" />
		<result column="readStatus" property="readStatus" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
