<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.dynamic.TDynamicCommentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.comment.TDynamicComment">
		<id column="id" property="id" />
		<result column="dynamicId" property="dynamicId" />
		<result column="fromUserId" property="fromUserId" />
		<result column="toUserId" property="toUserId" />
		<result column="fromUserName" property="fromUserName" />
		<result column="toUserName" property="toUserName" />
		<result column="content" property="content" />
		<result column="createTime" property="createTime" />
		<result column="createPlace" property="createPlace" />
		<result column="coordinate" property="coordinate" />
		<result column="status" property="status" />
		<result column="commentType" property="commentType"/>
		<result column="toId" property="toId"/>
	</resultMap>

</mapper>
