<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.dynamic.TDynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxs.entity.comment.TDynamic">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="content" property="content"/>
        <result column="courseCateId" property="courseCateId"/>
        <result column="classId" property="classId"/>
        <result column="courseId" property="courseId"/>
        <result column="classLessonId" property="classLessonId"/>
        <result column="power" property="power"/>
        <result column="createTime" property="createTime"/>
        <result column="dynamicType" property="dynamicType"/>
        <!--<result column="createPlace" property="createPlace"/>-->
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="dynamicType" property="dynamicType"/>
        <result column="studentId" property="studentId"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="getDynamicmsgByParam" resultType="java.util.HashMap" parameterType="map">
        <include refid="querySql"></include>
        <where>
            d.`status`=0
            <if test="power!=null">
                AND d.power in (#{power})
            </if>
            <if test="userId!=null">
                AND d.userId = #{userId}
            </if>
            <if test="userIds!=null and userIds.size()>0">
                AND d.userId in
                <foreach item="userId" collection="userIds" separator="," open="(" close=")" index="">
                    #{userId}
                </foreach>
            </if>
            <if test="courseId!=null">
                AND d.courseId = #{courseId}
            </if>
            <if test="studentIds!=null and studentIds.size()>0">
                AND studentId in
                <foreach item="studentId" collection="studentIds" separator="," open="(" close=")" index="">
                    #{studentId}
                </foreach>
            </if>
            <if test="courseCateId!=null">
                AND d.courseCateId = #{courseCateId}
            </if>
            <if test="classLessonId!=null">
                AND d.classLessonId = #{classLessonId}
            </if>
            <if test="teacherId!=null">
                AND d.teacherId = #{teacherId}
            </if>
        </where>
        ORDER BY d.createTime DESC

    </select>

    <select id="getFriendDynamicmsgByUserId" resultType="java.util.HashMap" parameterType="java.lang.Long">
        <include refid="querySql"></include>
        INNER JOIN t_follow_user f on f.fuserId=d.userId
        <where>
            d.`status`=0
            AND f.relationType=10
            AND power in (0,1)
            <if test="muserId!=null">
                AND d.muserId = #{muserId}
            </if>
        </where>
        ORDER BY d.createTime DESC
    </select>
    <select id="getNearByDynamicms" resultType="java.util.HashMap">
        <include refid="querySql"></include>
        <where>
            d.`status`=0
            AND d.studentId not in
            <foreach item="studentId" collection="studentIds" separator="," open="(" close=")" index="">
                #{studentId}
            </foreach>
            AND (acos(sin((#{latitude}*3.1415)/180) * sin((latitude*3.1415)/180) +
            cos((#{latitude}*3.1415)/180) * cos((latitude*3.1415)/180) * cos((#{longitude}*3.1415)/180 -
            (longitude*3.1415)/180)
            )*6370.996) <![CDATA[<= ]]> #{range}
        </where>
    </select>
    <select id="getNewestDynamicmByOrganId" resultType="java.util.HashMap">
        <include refid="querySql"></include>
        INNER JOIN  t_teacher ts
        where d.userId=ts.userId and ts.organizationId=#{organId}
        order by d.createTime DESC  limit 1
    </select>

    <sql id="querySql">
        SELECT
        d.id,
        d.userId,
        u.nickName,
        d.content,
        createPlace,
        DATE_FORMAT(d.createTime,'%Y-%m-%d %H:%i:%s') createTime,
        d.dynamicType,
        d.longitude,
        d.latitude,
        d.power,
        t.realName,
        d.classLessonId,
        l.lessonName,
        l.courseId,
        e.courseName,
        d.organId
        FROM t_dynamic d
        INNER JOIN t_front_user u ON u.id = d.userId
        LEFT JOIN t_class_lesson l on l.id=d.classLessonId
        LEFT JOIN t_class_course e ON  e.id=d.courseId
        LEFT JOIN t_student t on t.id=d.studentId
    </sql>
</mapper>
