<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.organ.TOrganizationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.organ.TOrganization">
		<id column="id" property="id" />
		<result column="userId" property="userId" />
		<result column="organCode" property="organCode" />
		<result column="organName" property="organName" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="cityarea" property="cityarea" />
		<result column="address" property="address" />
		<result column="linkman" property="linkman" />
		<result column="telePhone" property="telePhone" />
		<result column="mobilePhone" property="mobilePhone" />
		<result column="coordinate" property="coordinate" />
		<result column="leval" property="leval" />
		<result column="introduce" property="introduce" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
		<result column="createUser" property="createUser" />
		<result column="logoImg" property="logoImg" />
		<result column="organRemark" property="organRemark" />
	</resultMap>

</mapper>
