<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.organ.TOrganTaskImgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.organ.TOrganTaskImg">
		<id column="id" property="id" />
		<result column="taskId" property="taskId" />
		<result column="imgUrl" property="imgUrl" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
