<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.organ.TOrganCommentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.organ.TOrganComment">
		<id column="id" property="id" />
		<result column="itemId" property="itemId" />
		<result column="type" property="type" />
		<result column="fromUserId" property="fromUserId" />
		<result column="toUserId" property="toUserId" />
		<result column="fromUserName" property="fromUserName" />
		<result column="toUserName" property="toUserName" />
		<result column="content" property="content" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>
