<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/frontPages/common/header.html"/>
    <title>班级</title>
    <style>
        body{
            font-family: '微软雅黑 Regular', '微软雅黑';
            font-weight: 400;
            font-style: normal;
        }
        .head .right{
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 45px;
            line-height: 45px;
        }
        .right a{
            padding-left: 20px;
        }
        .class_div{
            display: inline-block;
            background-color: #F2F2F2;
            font-family: 'Arial Normal', 'Arial';
            font-size: 13px;
            color: #333333;
            text-align: center;
            line-height: normal;
        }
        .class_font{
            font-size: 18px;
            color: #666666;
        }
        .detail_font{
            font-size: 12px;
            color: #666666;
        }
        .table_cell{
            display: table;
            width: 100%;
        }
        .table_cell div{
            display: table-cell;
            width: 50%;
            border: 1px solid rgba(242, 242, 242, 1);
            font-size: 12px;
            color: #333333;
            text-align: center;
            line-height: normal;
        }
        .notDoneDiv{
            border: 1px solid #797979;
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 20px;
        }
        .weui-cells:before{
            border-top: 1px solid #FFFFFF;
        }
        .weui-cells .weui-cell:before{
            border-top: 1px solid #FFFFFF;
        }
        .weui-cells .weui-cell{
            padding-left: 10px;
        }
        .font_16{
            font-size: 16px;
        }
        .font_12{
            font-size: 12px;
        }
        .class_detail{
            border-bottom: 10px solid #F2F2F2;
        }
        .search_div{
            height: 55px;
            line-height:55px;
            text-align:center;
            background-color: #F2F2F2;
        }
        .search_div input{
            height: 32px;
            line-height:32px;
            width: 90%;
        }
        .father{
            background-color: #F4F4F4;
        }

    </style>
</head>
<body>

<div class="head">
    <a href="javascript:void(0);" class="return"></a><span>班级</span>
    <div class="right">
        <a href="javascript:void(0);"><img src="/weui/images/wyh/search.png"></a>
    </div>
</div>

<div class="weui-tab" style="margin-top: 45px;width: 100%;">
    <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
            我的班级
        </a>
        <a class="weui-navbar__item" href="#tab2">
            全部班级
        </a>
        <a class="weui-navbar__item " href="#tab3">
            班级类型
        </a>
        <!--<a class="weui-navbar__item " href="#tab4">-->
            <!--标签分组-->
        <!--</a>-->
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <!-- oneUnit S-->
            <!--<div class="class_detail">-->
                <!--<div style="padding-left: 10px;">-->
                    <!--<div class="class_div">班课</div>-->
                    <!--<p  class="class_font" style="display: inline">暑假基础培训一班</p>-->
                    <!--<p class="detail_font">授课老师：<span>张老师</span></p>-->
                    <!--<p class="detail_font">教授课程：<span>机器人启蒙</span>&nbsp;&nbsp;&nbsp;<span>32</span>课时</p>-->
                <!--</div>-->
                <!--<div class="table_cell">-->
                    <!--<div>学员 : <span>23</span></div>-->
                    <!--<div>课时已完成/剩余：<span>1/21</span></div>-->
                <!--</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd detail_font">-->
                            <!--<p>最近排课计划：</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="notDoneDiv"></div>-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<p class="font_16">积木搭建基础-2/3课时</p>-->
                            <!--<p class="font_12"><span>张老师</span> &bull; <span>10:00-11:00</span></p>-->
                        <!--</div>-->
                        <!--<div class="hint-val font_12">教务</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- oneUnit E-->

        </div>
        <div id="tab2" class="weui-tab__bd-item">

            <div class="weui-cells weui-cells_checkbox">

                <div class="search_div"><input placeholder="班级搜索"></div>

                <div style="border-bottom: 5px solid #F2F2F2;">
                    <label class="weui-cell weui-check__label" style="border-bottom: 1px solid #F2F2F2;">
                        <div class="weui-cell__bd">
                            <p>我的班级</p>
                        </div>
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="checkbox_classBelong" value="1"  checked >
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label">
                        <div class="weui-cell__bd">
                            <p>不限</p>
                        </div>
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="checkbox_classBelong" value="0">
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                </div>

                <div>

                    <!-- oneUnit S-->
                    <div class="class_detail">
                        <div style="padding-left: 10px;">
                            <div class="class_div">班课</div>
                            <p  class="class_font" style="display: inline">暑假基础培训一班</p>
                            <p class="detail_font">授课老师：<span>张老师</span></p>
                            <p class="detail_font">教授课程：<span>机器人启蒙</span>&nbsp;&nbsp;&nbsp;<span>32</span>课时</p>
                        </div>
                        <div class="table_cell">
                            <div>学员 : <span>23</span></div>
                            <div>课时已完成/剩余：<span>1/21</span></div>
                        </div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd detail_font">
                                    <p>最近排课计划：</p>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="notDoneDiv"></div>
                                <div class="weui-cell__bd">
                                    <p class="font_16">积木搭建基础-2/3课时</p>
                                    <p class="font_12"><span>张老师</span> &bull; <span>10:00-11:00</span></p>
                                </div>
                                <div class="hint-val font_12">教务</div>
                            </div>
                        </div>
                    </div>
                    <!-- oneUnit E-->

                </div>



            </div>

        </div>
        <div id="tab3" class="weui-tab__bd-item">

            <div class="weui-cells weui-cells_checkbox">

                <div style="border-top: 11px solid #F2F2F2;border-bottom: 10px solid #F2F2F2;">
                    <label class="weui-cell weui-check__label" style="border-bottom: 10px solid #F2F2F2;">
                        <div class="weui-cell__bd">
                            <p>不限</p>
                        </div>
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="checkbox_classType" value=""  checked >
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label">
                        <div class="weui-cell__bd">
                            <p>班课</p>
                        </div>
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="checkbox_classType" value="CLASS_COURSE">
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label">
                        <div class="weui-cell__bd">
                            <p>试听课</p>
                        </div>
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" name="checkbox_classType" value="AUDITION"  >
                            <i class="weui-icon-checked"></i>
                        </div>
                    </label>
                </div>

                <div >

                    <!-- oneUnit S-->
                    <div class="class_detail">
                        <div style="padding-left: 10px;">
                            <div class="class_div">班课</div>
                            <p  class="class_font" style="display: inline">暑假基础培训一班</p>
                            <p class="detail_font">授课老师：<span>张老师</span></p>
                            <p class="detail_font">教授课程：<span>机器人启蒙</span>&nbsp;&nbsp;&nbsp;<span>32</span>课时</p>
                        </div>
                        <div class="table_cell">
                            <div>学员 : <span>23</span></div>
                            <div>课时已完成/剩余：<span>1/21</span></div>
                        </div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd detail_font">
                                    <p>最近排课计划：</p>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="notDoneDiv"></div>
                                <div class="weui-cell__bd">
                                    <p class="font_16">积木搭建基础-2/3课时</p>
                                    <p class="font_12"><span>张老师</span> &bull; <span>10:00-11:00</span></p>
                                </div>
                                <div class="hint-val font_12">教务</div>
                            </div>
                        </div>
                    </div>
                    <!-- oneUnit E-->

                </div>


            </div>

        </div>
        <div id="tab4" class="weui-tab__bd-item">

            <div class="weui-cells weui-cells_checkbox">
                <div class="search_div"><input placeholder="标签搜索"></div>

                <label class="weui-cell weui-check__label">
                    <div class="weui-cell__bd">
                        <p>不限</p>
                    </div>
                    <div class="weui-cell__hd">
                        <input type="radio" checked name="checkbox_tag" class="weui-check">
                        <i class="weui-icon-checked"></i>
                    </div>
                </label>

                <label class="weui-cell weui-check__label father">
                    <div class="weui-cell__bd">
                        <p>标签分组1</p>
                    </div>
                </label>

                <label class="weui-cell weui-check__label son">
                    <div class="weui-cell__bd">
                        <p>标签A（5）</p>
                    </div>
                </label>

                <label class="weui-cell weui-check__label new">
                    <div class="weui-cell__bd">
                        <p>标签B（53）</p>
                    </div>
                </label>

                <label class="weui-cell weui-check__label father">
                    <div class="weui-cell__bd">
                        <p>标签分组2</p>
                    </div>
                </label>

                <label class="weui-cell weui-check__label son">
                    <div class="weui-cell__bd">
                        <p>标签C（5）</p>
                    </div>
                </label>

                <label class="weui-cell weui-check__label new">
                    <div class="weui-cell__bd">
                        <p>标签D（53）</p>
                    </div>
                </label>

            </div>


        </div>
    </div>
</div>
</body>
<#include "/frontPages/common/version.html"/>
<script>
    $(function () {
        //获取我的所有班级
        $.ajax("/cClass/allMyClass",{
            async : false,
            type: 'post',
            dataType: 'json',
            data:{
                teacherId:globalTeacherId
            },
            success:function(json){
//                $("#tab1").empty();
                if(json.data){
                    var list = json.data;
                    for(var i=0;i<list.length;i++){
                        var div = '<div class="class_detail">'+
                                        '<div style="padding-left: 10px;">'+
                                            '<div class="class_div">'+list[i].classType+'</div>'+
                                            '<p  class="class_font" style="display: inline"> '+list[i].className+'</p>'+
                                            '<p class="detail_font">授课老师：<span>'+list[i].teacherName+'</span></p>'+
                                            '<p class="detail_font">教授课程：<span>'+list[i].courseName+'</span>&nbsp;&nbsp;&nbsp;<span>'+list[i].totalLessonNum+'</span>课时</p>'+
                                        '</div>'+
                                        '<div class="table_cell">'+
                                            '<div>学员 : <span>'+list[i].realQty+'</span></div>'+
                                            '<div>课时已完成/剩余：<span>'+list[i].doneLessonNum+'/'+list[i].totalLessonNum+'</span></div>'+
                                        '</div>'+
                                        '<div class="weui-cells">'+
                                            '<div class="weui-cell">'+
                                            '<div class="weui-cell__bd detail_font">'+
                                            '<p>最近排课计划：</p>'+
                                            '</div>'+
                                            '</div>'+
                                        '<div class="weui-cell">'+
                                            '<div class="notDoneDiv"></div>'+
                                            '<div class="weui-cell__bd">'+
                                            '<p class="font_16">'+list[i].courseName+'-'+list[i].nextLessonName+'</p>'+
                                            '<p class="font_12"><span>'+frontUser.teacherName+'</span> &bull; <span>'+getHM(list[i].nextLessonSTime)+'-'+getHM(list[i].nextLessonETime)+'</span></p>'+
                                            '</div>'+
                                            '<div class="hint-val font_12">教务</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>';
                        $("#tab1").append(div);
                    }
                }
            }
        });
    });

    //获取时间的 时分 HH:mm
    function getHM(paraTime){
        return paraTime.substring(11,16);
    }
</script>
</html>