<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/frontPages/common/header.html"/>
    <title>课堂点评完成详情</title>
    <style>
        .rightRound{
            float: right;
        }
        .rightRound span{
            position: absolute;
            right: 40px;
            top: 36px;
            color: #666666;
        }
    </style>

</head>

<body>
<div class="head"><a href="javascript:void(0);" class="return"></a><span>课堂点评-高空作业-1/3课时</span></div>
<div class="weui-tab" style="margin-top: 45px;">
    <div class="weui-navbar">
        <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
            全部点评()
        </a>
        <a class="weui-navbar__item" href="#tab2">
            已点评()
        </a>
        <a class="weui-navbar__item" href="#tab3">
            未点评()
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">

            <div class="weui-panel" >

                <div class="weui-panel__bd" style="font-size: 13px" id="signInAll">

                    <!--<div class="weui-media-box weui-media-box_appmsg ">-->
                        <!--<div class="weui-media-box__hd ">-->
                            <!--<img class="weui-media-box__thumb" src="/images/userface1.jpg">-->
                        <!--</div>-->
                        <!--<div class="weui-media-box__bd">-->
                            <!--<p class="comment-blue">王同学</p>-->
                            <!--<p>未点评</p>-->
                        <!--</div>-->
                        <!--<div class="rightRound" >-->
                            <!--<p><span>点评</span><img src="/weui/images/wyh/toRight.png"> </p>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div class="weui-panel" >
                <div class="weui-panel__bd" style="font-size: 13px">
                </div>
            </div>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
            <div class="weui-panel" >
                <div class="weui-panel__bd" style="font-size: 13px">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<#include "/frontPages/common/version.html"/>
<script>
    var agendaId = 1;
    $(function () {

        //获取班级里所有学生的签到情况
        $.ajax("/cOrganTask/getAllByAgendaId",{
            async : false,
            type: 'get',
            dataType: 'json',
            data:{agendaId:agendaId,type:2,status:2},
            success:function(json){
                var list = json.data;
                var as = $(".weui-navbar a");
                //全部点评数量
                var totalNum = list.length;
                as.eq(0).text("全部点评("+totalNum+")");
                //已点评数量
                var doneNum = 0;
                //未点评数量
                var notDoneNum = 0;
                var tempStatus;//签到状态
                var operation;
                for(var i=0;i<list.length;i++){
                    if(list[i].status == 0){
                        notDoneNum++;
                        tempStatus = "未点评";
                        operation = "点评"
                    }
                    if(list[i].status == 1){
                        doneNum++;
                        tempStatus = "点评时间 : "+list[i].doneTime;
                        operation = "查看"
                    }
                    var div = '<div class="weui-media-box weui-media-box_appmsg ">'+
                                    '<div class="weui-media-box__hd ">'+
                                          '<img class="weui-media-box__thumb" src="'+list[i].studentHeadImg+'">'+
                                     '</div>'+
                                    '<div class="weui-media-box__bd">'+
                                        '<p class="comment-blue">'+list[i].studentName+'</p>'+
                                        '<p>'+tempStatus+'</p>'+
                                    '</div>'+
                                    '<div class="rightRound" id="'+list[i].id+'">'+
                                        '<p><span>'+operation+'</span><img src="/weui/images/wyh/toRight.png"> </p>'+
                                    '</div>'+
                                '</div>';
                    $("#signInAll").append(div);
                }
                as.eq(1).text("已点评("+doneNum+")");
                as.eq(2).text("未点评("+notDoneNum+")");
                //签到方法
//                $(".rightRound").click(function () {
//                    singIn($(this).attr("id"));
//                })
            }
        });

        //选项卡切换执行查询
        $(".weui-navbar a" ).click(function () {
            var index = $(this).index();
            getByType(index);
        })

    });

    // index:   0：全部  ，1：已完成，2：未完成,对应选项卡下标
    function getByType(index) {
        var status;
        //全部
        if(index == 0){
            status = 2;
        }
        //已完成
        if(index == 1){
            status = 1;
        }
        //未完成
        if(index == 2){
            status = 0;
        }
        $.ajax("/cOrganTask/getAllByAgendaId",{
            async : false,
            type: 'get',
            dataType: 'json',
            data:{agendaId:agendaId,type:2,status:status},
            success:function(json){
                var mainDiv = $(".weui-panel__bd").eq(index);
                mainDiv.empty();
                var list = json.data;
                if(list != null){
                    var tempStatus;//签到状态
                    var operation;
                    for(var i=0;i<list.length;i++){
                        if(list[i].status == 0){
                            tempStatus = "未点评";
                            operation = "点评"
                        }
                        if(list[i].status == 1){
                            tempStatus = "点评时间 : "+list[i].doneTime;
                            operation = "查看"
                        }
                        var div = '<div class="weui-media-box weui-media-box_appmsg ">'+
                                        '<div class="weui-media-box__hd ">'+
                                             '<img class="weui-media-box__thumb" src="'+list[i].studentHeadImg+'">'+
                                        '</div>'+
                                        '<div class="weui-media-box__bd">'+
                                            '<p class="comment-blue">'+list[i].studentName+'</p>'+
                                            '<p>'+tempStatus+'</p>'+
                                        '</div>'+
                                        '<div class="rightRound" id="'+list[i].id+'">'+
                                             '<p><span>'+operation+'</span><img src="/weui/images/wyh/toRight.png"> </p>'+
                                        '</div>'+
                                    '</div>';
                        mainDiv.append(div);
                    }
                    //点评方法
//                    $(".rightRound").click(function () {
//                        singIn($(this).attr("id"));
//                    })
                }
            }
        });
    }
    
    //签到
    function singIn(taskId) {
        if(taskId == ""){
            $.toast("已签到过了!",'text',800,function(){
                //提示完成后执行方法
            });
            return;
        }
        $.ajax("/cOrganTask/signIn",{
            async : false,
            type: 'get',
            dataType: 'json',
            data:{taskId:taskId},
            success:function(json){
                //提示操作结果
                $.toast(json.data,'text',800,function(){
                    //提示完成后执行方法
                });
                setTimeout(function () {
                    window.location.reload();
                },1000);
            }
        });
    }

</script>
</html>