<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/frontPages/common/header.html"/>
    <title>我的</title>
    <style>
        .comment-blue{
            color: #0066CC;
        }
    </style>
</head>
<body>
<div class="head"><a href="javascript:void(0);" class="return"></a><span>我的</span> </div>
<!-- 个人详情 S -->
<div class="weui-panel weui-panel_access" style="margin-top: 45px;">
    <div class="weui-panel__bd" style="padding-left: 20px;">
        <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd" style="width: 75px;height: 75px;">
                <img class="weui-media-box__thumb" src="/images/userface5.jpg">
            </div>
            <div class="weui-media-box__bd" style="padding-left: 10px;">
                <h4 class="weui-media-box__title">张老师</h4>
                <p class="weui-media-box__desc comment-blue">新创客机器人康平校区</p>
                <p>123个学&bull;2个课程</p>
            </div>
        </div>
    </div>


    <!-- 跳转页面 S -->
    <div class="weui-cells">
        <div class="weui-cell" style="background-color: #FFFFFF">
            <div class="weui-cell__hd"><label for="" class="weui-label" style="width: 120px">我的动态</label></div>
            <div class="weui-cell__bd">
            </div>
            <a><img style="height: 25px;" src="/weui/images/wyh/toRight.png"/></a>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label" style="width: 120px">关注管理</label></div>
            <div class="weui-cell__bd">
            </div>
            <a><img style="height: 25px;" src="/weui/images/wyh/toRight.png"/></a>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label" style="width: 120px">我的资料</label></div>
            <div class="weui-cell__bd">
            </div>
            <a><img style="height: 25px;" src="/weui/images/wyh/toRight.png"/></a>
        </div>


        <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label" style="width: 120px">设置</label></div>
            <div class="weui-cell__bd" >
            </div>
            <a><img style="height: 25px;" src="/weui/images/wyh/toRight.png"/></a>
        </div>
    </div>
    <!-- 跳转页面 S -->


</div>
<!-- 个人详情 E -->
<!-- 底部导航栏 s -->
<div class="weui-flex weui-fixed-btm">
    <div class="weui-flex__item"><a href="javascript:;" class="weui-fixed-btn ">待办</a></div>
    <div class="weui-flex__item"><a href="javascript:;" class="weui-fixed-btn">消息</a></div>
    <div class="weui-flex__item"><a href="javascript:;" class="weui-fixed-btn">工作台</a></div>
    <div class="weui-flex__item"><a href="javascript:;" class="weui-fixed-btn">联系人</a></div>
    <div class="weui-flex__item"><a href="javascript:;" class="weui-fixed-btn weui-btn_primary">我的</a></div>
</div>
<!-- 底部导航栏 e -->
</body>
<#include "/frontPages/common/version.html"/>
</html>