<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/frontPages/common/header.html"/>
    <title>学员资料</title>
    <style>
        .head .right{
            position: absolute;
            right: 5px;
            top: 0;
            width: 100px;
            height: 45px;
        }
        .right a{
            float: right;
            padding-right: 20px;
        }
        .personal .weui-input {
            color: #999;
        }
        .tag{
            height: 25px;
            width: 100%;
            margin-top: 10px;
        }
        .tag div{
            display: inline;
            margin-left: 5px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #797979;
            font-family: '微软雅黑';
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            padding: 2px 5px;
        }
        .test_b{
            margin-top: 3px;
            width: 10px;
            height: 5px;
            background: inherit;
            background-color: rgba(51, 51, 51, 1);
            border: none;
            border-radius: 2px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: block;
            font-family: 'Arial Normal', 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #333333;
            text-align: center;
            line-height: normal;
        }
        .test_s{
            margin-top: 3px;
            width: 5px;
            height: 5px;
            background: inherit;
            background-color: #CCCCCC;
            border: none;
            border-radius: 2px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: block;
            font-family: 'Arial Normal', 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #CCCCCC;
            text-align: center;
            line-height: normal;
        }
        .search_table{
            margin-left: 46%;
            color: #CCCCCC
        }
        .search_table td{
            padding: 0 2px;
            font-size: 20px;
            height: 100%;
            line-height: 100%;
        }

        .notDoneDiv{
            border: 1px solid #797979;
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 20px;
        }
        .record_div {
            border-left: 1px solid #a5a5a5;
            padding:0px 10px 0px 19px;
            margin:0 15px;
        }
        .record_div p{
            font-family: '微软雅黑 Regular', '微软雅黑';
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
        }

        .record_div .record_time{
            float: right;
            margin-top: 10px;
        }
        .record_div .record_p{
            position: relative;
            padding:10px 0;
        }
        .record_div .record_p:before{
            content: url("/weui/images/wyh/right.png");
            width: 20px;
            height: 20px;
            background:white;
            border: 1px solid;
            border-radius:  50%;
            display: inline-block;
            position: absolute;
            left: -31px;
            top: 10px;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        .comment-blue{
            color: #0066CC;
        }

    </style>
</head>
<body>
<div class="head">
    <a href="javascript:void(0);" class="return"></a><span>学员</span>
    <div class="right">
        <a href="javascript:void(0);"><img src="/weui/images/wyh/threePoint.png"></a>
    </div>
</div>
<div style="margin-top: 45px;width: 100%;">
    <div style="text-align: center;" id="INCNB">
        <img  style="height: 100px;width: 100px;padding-top: 12px;" src="/images/userface5.jpg"/>
        <p>王大贺</p>
        <p><span>0</span>在读课程，<span>0</span>余额&nbsp;&nbsp;&nbsp;<a><span style="color: #0066CC"> 详情</span></a></p>
    </div>
    <div style="display: table;width: 100%">
        <div style="display: table-cell;width: 33%;text-align: center">
            <a href="tel:15138990831" id="to_tel"><img  height="40px" width="40px" src="/weui/images/wyh/tel.png"></a>
            <p>电话</p>
        </div>
        <div style="display: table-cell;width: 33%;text-align: center">
            <a href="sms:15138990831" id="to_sms"><img height="40px" width="40px" src="/weui/images/wyh/SMS.jpg"></a>
            <p>短信</p>
        </div>
        <div style="display: table-cell;width: 33%;text-align: center">
            <img height="40px" width="40px" src="/weui/images/wyh/wx.png">
            <p>微信</p>
        </div>
    </div>
</div>

<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item" href="#tab1">
            待办
        </a>
        <a class="weui-navbar__item weui-bar__item--on" href="#tab2">
            记录
        </a>
        <a class="weui-navbar__item " href="#tab3">
            资料
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item">
            <!-- 待办   start -->
            <div class="weui-cells"  style="margin-top: 0">

                <a class="weui-cell weui-cell_access" href="javascript:;" style="background-color: #F2F2F2;">
                    <div class="weui-cell__bd">
                        <p>今日待办</p>
                    </div>
                </a>

                <div id="todays">

                    <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
                        <!--<div class="notDoneDiv"></div>-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<p>积木搭建基础-2/3课时</p><p>王老师 &bull;10:00-11:00</p>-->
                        <!--</div>-->
                        <!--<div class="hint-val">教务</div>-->
                    <!--</a>-->

                </div>

                <a class="weui-cell weui-cell_access" href="javascript:;" style="background-color: #F2F2F2">
                    <div class="weui-cell__bd">
                    <p>明日待办</p>
                    </div>
                </a>

                <div id="tomorrows">

                    <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
                        <!--<div class="notDoneDiv"></div>-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<p>积木搭建基础-2/3课时</p><p> 数学作业 &bull; 10:00-11:00</p>-->
                        <!--</div>-->
                        <!--<div class="hint-val">课堂作业</div>-->
                    <!--</a>-->

                </div>

            </div>
            <!-- 待办   end -->
        </div>
        <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div>
                <div class="record_div">
                    <p class="record_time">2017-08-22  22:33:11</p>
                    <h5 class="record_p">上课签到</h5>
                    <p>来自 <span class="comment-blue">张老师</span>  的任务</p>
                    <p>消耗课时费用：<span>220</span>元 | 剩余课时费用：<span>2200</span></p>
                    <div class="weui-panel weui-panel_access" >
                        <div class="weui-panel__bd">
                            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="background-color: #E4E4E4">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb" src="/weui/images/wyh/note_right.png">
                                </div>
                                <div class="weui-media-box__bd">
                                    <h4 class="weui-media-box__title">机器人机器-1/3课时</h4>
                                    <h4 class="weui-media-box__title">2017-07-23 11:00  完成</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="record_div">
                    <p class="record_time">2017-08-22  22:33:11</p>
                    <h5 class="record_p done">上课点评</h5>
                    <p>来自 <span class="comment-blue">张老师</span>  的点评</p>
                    <div id="impressTag1" style="margin: 10px -4px">
                        <div class="tag">
                        <div>聪明 <span>1</span></div>
                        <div>动手能力强 <span>3</span></div>
                        <div>积极  <span>3</span></div>
                        </div>
                        <div class="tag">
                        <div>乐于助人 <span>2</span></div>
                        <div>勤奋  <span>1</span></div>
                        </div>
                    </div>
                    <p>上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错上课表现不错</p>
                    <div class="weui-uploader" style="margin-top: 10px;">
                        <div class="weui-uploader__bd">
                            <ul class="weui-uploader__files" id="uploaderFiles">
                                <li class="weui-uploader__file comment_img" style="background-image:url(/images/userface1.jpg);bottom: 0px;"></li>
                                <li class="weui-uploader__file comment_img" style="background-image:url(/images/userface2.jpg);bottom: 0px;"></li>
                                <li class="weui-uploader__file comment_img" style="background-image:url(/images/userface3.jpg);bottom: 0px;"></li>
                                <li class="weui-uploader__file comment_img" style="background-image:url(/images/userface4.jpg);bottom: 0px;"></li>
                            </ul>
                        </div>
                    </div>
                    <p class="comment-blue">机器人课程 课时1/32</p>
                </div>
                <!-- 图片放大  S -->
                <div class="weui-gallery" id="gallery" >
                    <span class="weui-gallery__img"  id="galleryImg" style="background-image:url(/weui/images/pic_160.png);bottom: 0px;"></span>
                </div>
            </div>
        </div>
        <div id="tab3" class="weui-tab__bd-item ">
            <div style="background-color: #F2F2F2;height: 40px;line-height: 40px;">
                <p style="padding-left: 20px;">成长印象（来自<span>0</span>次评价）</p>
            </div>
            <div style="height: 86px;">
                <div id="impressTag">
                    <!--<div class="tag">-->
                        <!--<div>聪明 <span>1</span></div>-->
                        <!--<div>动手能力强 <span>3</span></div>-->
                        <!--<div>积极  <span>3</span></div>-->
                    <!--</div>-->
                    <!--<div class="tag">-->
                        <!--<div>乐于助人 <span>2</span></div>-->
                        <!--<div>勤奋  <span>1</span></div>-->
                    <!--</div>-->
                </div>
                <div>
                    <table class="search_table">
                        <tr>
                            <td><div class="test_b"></div></td>
                            <!--<td>&bull;</td>-->
                        </tr>
                    </table>
                </div>
            </div>
            <div class="personal f15">

                <div class="weui-cells mt5">

                    <div class="weui-cell weui-cell_access">
                        <div>标签分组</div>
                        <div class="weui-cell__bd">
                            <input readonly type="text" class="weui-input tar" id="groupLabelNum"   placeholder="0">
                        </div>
                        <div class="weui-cell__ft">
                    </div>
                        </div>
                    </div>

                    <div class="weui-cell" style="background-color: #F2F2F2">
                        <div class="weui-cell__bd">
                            基本资料
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            联系手机
                        </div>
                        <div class="weui-cell__price" id="mobilePhone"></div>
                    </div>

                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            学员性别
                        </div>
                        <div class="weui-cell__price" id="gender"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            学员年龄
                        </div>
                        <div class="weui-cell__price" id="age"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            课程顾问
                        </div>
                        <div class="weui-cell__price" id="advisorTeacher"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            来源
                        </div>
                        <div class="weui-cell__price" id="sourceType"></div>
                    </div>

                    <div class="weui-cell" style="background-color: #F2F2F2">
                        <div class="weui-cell__bd">
                            其他信息
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            家长姓名
                        </div>
                        <div class="weui-cell__price" id="parentName"></div>
                    </div>

                    <div class="weui-cell weui-cell_access">
                        <div class="weui-cell__bd">
                            与学生关系
                        </div>
                        <div class="weui-cell__price" id="parentType"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            所在学校
                        </div>
                        <div class="weui-cell__price" id="school"></div>
                    </div>

                </div>

            <div style="padding:20px;background-color: #F2F2F2" >
                <a href="javascript:;" class="weui-btn weui-btn_primary" style="background-color: #CCCCCC" >编 辑</a>
                <a href="javascript:;" class="weui-btn weui-btn_default" onclick="delOne();" style="background-color: #FFFFFF">删 除</a>
            </div>

            </div>
        </div>
    </div>
</div>



</body>
<#include "/frontPages/common/version.html"/>
<script>
    var studentId;
    var tagList;//用于印象标签 分页显示
    $(function () {
        studentId = 1;
        //获取学生的资料
        $.ajax("/cStudent/studentInfo",{
            async : false,
            type: 'post',
            dataType: 'json',
            data:{
                studentId:studentId
            },
            success:function(json){
                var student = json.data.student;
                //学生头像
                $("#INCNB img").attr("src",student.headImg);
                //学生姓名
                $("#INCNB p").eq(0).text(student.studentName);
                //在读课程数量
                $("#INCNB span").eq(0).text(json.data.courseNum);
                //余额
                $("#INCNB span").eq(1).text(student.balance);
                //印象标签
                if(json.data.impressTag){
                    tagList = json.data.impressTag;
                    //标签总个数
                    var nums = 0;
                    for(var i=0;i<tagList.length;i++){
                        nums+=tagList[i].num;
                    }
                    $("#tab3 span").eq(0).text(nums);
                    //分页签个数
                    var pages = Math.ceil(tagList.length/6);
                    $(".search_table tr").empty();
                    $(".search_table tr").append('<td><div class="test_b"></div></td>');
                    for(var i=1;i<pages;i++){
                        $(".search_table tr").append('<td><div class="test_s"></div></td>');
                    }
                    var tagDiv = '<div class="tag">';
                    $("#impressTag").empty();
                    var times = 0;
                    for(var i=0;i<tagList.length;i++){
                        tagDiv += '<div>'+tagList[i].tagDesc+' <span>'+tagList[i].num+'</span></div>';
                        if(  (i+1)%3  == 0 || i+1 == tagList.length  ){
                            tagDiv += '</div>';
                            $("#impressTag").append(tagDiv);
                            var tagDiv = '<div class="tag">';
                        }
                        if( ( i+1%6 == 0 || i+1 == tagList.length)  &&  ++times < 4){
                            $("#impressTag").append('  <div class="tag"></div>');
                        }
                        if(++times == 6){
                            break;
                        }

                    }
                }
                //所属 分组标签 个数
                $("#groupLabelNum").val(json.data.groupLabelNum);
                //联系手机
                $("#mobilePhone").text(student.studentMobilePhone);
                $("#to_tel").attr("href","tel:"+student.studentMobilePhone);
                $("#to_sms").attr("href","sms:"+student.studentMobilePhone);
                //学员性别
                $("#gender").text(student.gender == 1?"男":"女");
                //年龄
                $("#age").text(getAge(student.birthday));
                //课程顾问
                if(json.data.advisorTeacher)
                    $("#advisorTeacher").text(json.data.advisorTeacher);
                //来源
                $("#sourceType").text(student.sourceType);
                //家长姓名
                if(json.data.parent){
                    var parent = json.data.parent[0];
                    //家长姓名
                    $("#parentName").text(parent.realName);
                    //与学生关系
                    $("#parentType").text(parent.type == 1?"父亲":"母亲");

                }
                //所在学校
                $("#school").text(student.school);


            }
        });
        //获取学生的今日和明日 待办 - 上课和作业
        $.ajax("/cOrganAgenda/studentAgenda",{
            async : false,
            type: 'post',
            dataType: 'json',
            data:{
                studentId:studentId,
                organId:globalOrganId,
            },
            success:function(json){
                //今日待办
                $("#todays").empty();
                //上课
                if(json.data.today_class){
                    var list = json.data.today_class;
                    for(var i=0;i<list.length;i++){
                        var a = '<a class="weui-cell weui-cell_access" href="javascript:;">'+
                            '<div class="notDoneDiv"></div>'+
                            '<div class="weui-cell__bd">'+
                            '<p>'+list[i].content+'</p><p>'+list[i].userName+' &bull; '+getHM(list[i].startTime)+'-'+getHM(list[i].endTime)+'</p>'+
                            '</div>'+
                            '<div class="hint-val">教务</div>'+
                            '</a>';
                        $("#todays").append(a);
                    }
                }
                //课堂作业
                if(json.data.today_works){
                    var list = json.data.today_works;
                    for(var i=0;i<list.length;i++){
                        var a = '<a class="weui-cell weui-cell_access  class-work" href="javascript:;" id="'+list[i].taskId+'">'+
                                    '<div class="notDoneDiv"></div>'+
                                    '<div class="weui-cell__bd">'+
                                    '<p>'+list[i].lessonName+'</p><p>'+list[i].workName+' &bull; '+getHM(list[i].beginTime)+'-'+getHM(list[i].endTime)+'</p>'+
                                    '</div>'+
                                    '<div class="hint-val">课堂作业</div>'+
                                '</a>';
                        $("#todays").append(a);
                    }
                }
                //明日待办
                $("#tomorrows").empty();
                //上课
                if(json.data.tomorrow_class){
                    var list = json.data.tomorrow_class;
                    for(var i=0;i<list.length;i++){
                        var a = '<a class="weui-cell weui-cell_access" href="javascript:;">'+
                            '<div class="notDoneDiv"></div>'+
                            '<div class="weui-cell__bd">'+
                            '<p>'+list[i].content+'</p><p>'+list[i].userName+' &bull; '+getHM(list[i].startTime)+'-'+getHM(list[i].endTime)+'</p>'+
                            '</div>'+
                            '<div class="hint-val">教务</div>'+
                            '</a>';
                        $("#tomorrows").append(a);
                    }
                }
                //课堂作业
                if(json.data.tomorrow_works){
                    var list = json.data.tomorrow_works;
                    for(var i=0;i<list.length;i++){
                        var a = '<a class="weui-cell weui-cell_access class-work" href="javascript:;" id="'+list[i].taskId+'">'+
                            '<div class="notDoneDiv"></div>'+
                            '<div class="weui-cell__bd">'+
                            '<p>'+list[i].lessonName+'</p><p>'+list[i].workName+' &bull; '+getHM(list[i].beginTime)+'-'+getHM(list[i].endTime)+'</p>'+
                            '</div>'+
                            '<div class="hint-val">课堂作业</div>'+
                            '</a>';
                        $("#tomorrows").append(a);
                    }
                }
                $(".class-work").click(function () {
                   window.location.href = '/organization/viewsTransfer?view=classworkDetail&itemId='+$(this).attr("id");
                });
            }
        });

        //获取学生的记录
//        $.ajax("/cOrganTask/releaseClassComment",{
//            async : false,
//            type: 'post',
//            dataType: 'json',
//            data:{
//                taskId:taskId,
//                content:content,
//            },
//            success:function(json){
//
//            }
//        });


        //预览图片
        var  $gallery = $("#gallery"), $galleryImg = $("#galleryImg"), $uploaderFiles = $("#uploaderFiles");

        //图片放大
        $uploaderFiles.on("click", "li", function(){
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        //关闭 图片放大
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });


        //成长印象   分页栏点击切换样式
        $(".search_table td").click(function () {
            var div = '<div class="test_b"></div>';
            $(this).siblings().html('<div class="test_s"></div>');
            $(this).html(div);
            var index = $(this).index();
            var times = 0;
            var tagDiv = '<div class="tag">';
            $("#impressTag").empty();
            for(var i=(index * 6 );i<tagList.length;i++){
                tagDiv += '<div>'+tagList[i].tagDesc+' <span>'+tagList[i].num+'</span></div>';
                if(  (i+1)%3  == 0 || i+1 == tagList.length  ){
                    tagDiv += '</div>';
                    $("#impressTag").append(tagDiv);
                    var tagDiv = '<div class="tag">';
                }
                if( ( i+1%6 == 0 || i+1 == tagList.length)  &&  ++times < 4){
                    $("#impressTag").append('  <div class="tag"></div>');
                }
                if(++times == 6){
                    break;
                }

            }
        });
    });
    
    
    //删除单个学生
    function delOne() {
        $.ajax("/cStudent/delOrganStudent",{
            async : false,
            type: 'post',
            dataType: 'json',
            data:{
                studentId:studentId,
                },
            success:function(json){
                $.toast(json.data,'text',800,function(){
                    //提示完成后执行方法
                });
            }
        });
    }
    //根据生日获取年龄
    function getAge(birthday) {
        var now = new Date();
        var year = now.getFullYear();
        var birthYear = birthday.substring(0,4);
        return year - birthYear;
    }

    //获取时间的 时分 HH:mm
    function getHM(paraTime){
        return paraTime.length == 0 ? "" : paraTime.substring(11,16);
    }
</script>
</html>