<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/frontPages/common/header.html"/>
    <title>学员资料</title>
    <style>
        .head .right{
            position: absolute;
            right: 5px;
            top: 0;
            width: 100px;
            height: 45px;
        }
        .right a{
            float: right;
            padding-right: 20px;
        }
        .personal .weui-input {
            color: #999;
        }
        .tag{
            height: 25px;
            width: 100%;
            margin-top: 10px;
        }
        .tag div{
            display: inline;
            margin-left: 5px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #797979;
            font-family: '微软雅黑';
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            padding: 2px 5px;
        }
        .test{
            margin-top: 3px;
            width: 10px;
            height: 5px;
            background: inherit;
            background-color: rgba(51, 51, 51, 1);
            border: none;
            border-radius: 2px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: block;
            font-family: 'Arial Normal', 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #333333;
            text-align: center;
            line-height: normal;
        }
        .search_table{
            margin-left: 46%;
            color: #CCCCCC
        }
        .search_table td{
            padding: 0 2px;
        }

    </style>
</head>
<body>
<div class="head">
    <a href="javascript:void(0);" class="return"></a><span>学员</span>
    <div class="right">
        <a href="javascript:void(0);"><img src="/weui/images/wyh/threePoint.png"></a>
    </div>
</div>
<div style="margin-top: 45px;width: 100%;">
    <div style="text-align: center;" id="INCNB">
        <img  style="height: 100px;width: 100px;padding-top: 12px;" src="/images/userface5.jpg"/>
        <p>王大贺</p>
        <p><span>0</span>在读课程，<span>0</span>余额&nbsp;&nbsp;&nbsp;<a><span style="color: #0066CC"> 详情</span></a></p>
    </div>
    <div style="display: table;width: 100%">
        <div style="display: table-cell;width: 33%;text-align: center">
            <img  height="40px" width="40px" src="/weui/images/wyh/tel.png">
            <p>电话</p>
        </div>
        <div style="display: table-cell;width: 33%;text-align: center">
            <img height="40px" width="40px" src="/weui/images/wyh/SMS.jpg">
            <p>短信</p>
        </div>
        <div style="display: table-cell;width: 33%;text-align: center">
            <img height="40px" width="40px" src="/weui/images/wyh/wx.png">
            <p>微信</p>
        </div>
    </div>
</div>

<div class="weui-tab">
    <div class="weui-navbar">
        <a class="weui-navbar__item " href="#tab1">
            待办
        </a>
        <a class="weui-navbar__item" href="#tab2">
            记录
        </a>
        <a class="weui-navbar__item weui-bar__item--on" href="#tab3">
            资料
        </a>
    </div>
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item ">
            <h1>页面一</h1>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <h1>页面二</h1>
        </div>
        <div id="tab3" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div style="background-color: #F2F2F2;height: 40px;line-height: 40px;">
                <p style="padding-left: 20px;">成长印象（来自<span>0</span>次评价）</p>
            </div>
            <div style="height: 86px;">
                <div id="impressTag">
                    <div class="tag">
                        <div>聪明 <span>1</span></div>
                        <div>动手能力强 <span>3</span></div>
                        <div>积极  <span>3</span></div>
                    </div>
                    <div class="tag">
                        <div>乐于助人 <span>2</span></div>
                        <div>勤奋  <span>1</span></div>
                    </div>
                </div>
                <div>
                    <table class="search_table">
                        <tr>
                            <td><div class="test"></div></td>
                            <!--<td>&bull;</td>-->
                        </tr>
                    </table>
                </div>
            </div>
            <div class="personal f15">

                <div class="weui-cells mt5">

                    <div class="weui-cell weui-cell_access">
                        <div>标签分组</div>
                        <div class="weui-cell__bd">
                            <input readonly type="text" class="weui-input tar" id="groupLabelNum"   placeholder="0">
                        </div>
                        <div class="weui-cell__ft">
                    </div>
                        </div>
                    </div>

                    <div class="weui-cell" style="background-color: #F2F2F2">
                        <div class="weui-cell__bd">
                            基本资料
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            联系手机
                        </div>
                        <div class="weui-cell__price" id="mobilePhone"></div>
                    </div>

                    <div class="weui-cell ">
                        <div class="weui-cell__bd">
                            学员性别
                        </div>
                        <div class="weui-cell__price" id="gender"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            学员年龄
                        </div>
                        <div class="weui-cell__price" id="age"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            课程顾问
                        </div>
                        <div class="weui-cell__price" id="advisorTeacher"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            来源
                        </div>
                        <div class="weui-cell__price" id="sourceType"></div>
                    </div>

                    <div class="weui-cell" style="background-color: #F2F2F2">
                        <div class="weui-cell__bd">
                            其他信息
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            家长姓名
                        </div>
                        <div class="weui-cell__price" id="parentName"></div>
                    </div>

                    <div class="weui-cell weui-cell_access">
                        <div class="weui-cell__bd">
                            与学生关系
                        </div>
                        <div class="weui-cell__price" id="parentType"></div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            所在学校
                        </div>
                        <div class="weui-cell__price" id="school"></div>
                    </div>

                </div>

            <div style="padding:20px;background-color: #F2F2F2" >
                <a href="javascript:;" class="weui-btn weui-btn_primary" style="background-color: #CCCCCC" >编 辑</a>
                <a href="javascript:;" class="weui-btn weui-btn_default" style="background-color: #FFFFFF">删 除</a>
            </div>

            </div>
        </div>
    </div>
</div>



</body>
<#include "/frontPages/common/version.html"/>
<script>
    var studentId;
    var tagList;//用于印象标签 分页显示
    $(function () {
        studentId = 1;
        //获取机构的所有学生
        $.ajax("/cStudent/studentInfo",{
            async : false,
            type: 'post',
            dataType: 'json',
            data:{
                studentId:studentId
            },
            success:function(json){
                var student = json.data.student;
                //学生头像
                $("#INCNB img").attr("src",student.headImg);
                //学生姓名
                $("#INCNB p").eq(0).text(student.studentName);
                //在读课程数量
                $("#INCNB span").eq(0).text(json.data.courseNum);
                //余额
                $("#INCNB span").eq(1).text(student.balance);
                //印象标签
                if(json.data.impressTag){
                    tagList = json.data.impressTag;
                    //标签总个数
                    var nums = 0;
                    for(var i=0;i<tagList.length;i++){
                        nums+=tagList[i].num;
                    }
                    $("#tab3 span").eq(0).text(nums);
                    //分页签个数
                    var pages = Math.ceil(tagList.length/6);
                    $(".search_table tr").empty();
                    $(".search_table tr").append('<td><div class="test"></div></td>');
                    for(var i=1;i<pages;i++){
                        $(".search_table tr").append('<td>&bull;</td>');
                    }
                    var tagDiv = '<div class="tag">';
                    $("#impressTag").empty();
                    var times = 0;
                    for(var i=0;i<tagList.length;i++){
                        tagDiv += '<div>'+tagList[i].tagDesc+' <span>'+tagList[i].num+'</span></div>';
                        if(  (i+1)%3  == 0 || i+1 == tagList.length  ){
                            tagDiv += '</div>';
                            $("#impressTag").append(tagDiv);
                            var tagDiv = '<div class="tag">';
                        }
                        if( ( i+1%6 == 0 || i+1 == tagList.length)  &&  ++times < 4){
                            $("#impressTag").append('  <div class="tag"></div>');
                        }
                        if(++times == 6){
                            break;
                        }

                    }
                }
                //所属 分组标签 个数
                $("#groupLabelNum").val(json.data.groupLabelNum);
                //联系手机
                $("#mobilePhone").text(student.studentMobilePhone);
                //学员性别
                $("#gender").text(student.gender == 1?"男":"女");
                //年龄
                $("#age").text(getAge(student.birthday));
                //课程顾问
                if(json.data.advisorTeacher)
                    $("#advisorTeacher").text(json.data.advisorTeacher);
                //来源
                $("#sourceType").text(student.sourceType);
                //家长姓名
                if(json.data.parent){
                    var parent = json.data.parent[0];
                    //家长姓名
                    $("#parentName").text(parent.realName);
                    //与学生关系
                    $("#parentType").text(parent.type == 1?"父亲":"母亲");

                }
                //所在学校
                $("#school").text(student.school);


            }
        });



        //成长印象   分页栏点击切换样式
        $(".search_table td").click(function () {
            var div = '<div class="test"></div>';
            $(this).siblings().html("&bull;");
            $(this).html(div);
            var index = $(this).index();
            var times = 0;
            var tagDiv = '<div class="tag">';
            $("#impressTag").empty();
            for(var i=(index * 6 );i<tagList.length;i++){
                tagDiv += '<div>'+tagList[i].tagDesc+' <span>'+tagList[i].num+'</span></div>';
                if(  (i+1)%3  == 0 || i+1 == tagList.length  ){
                    tagDiv += '</div>';
                    $("#impressTag").append(tagDiv);
                    var tagDiv = '<div class="tag">';
                }
                if( ( i+1%6 == 0 || i+1 == tagList.length)  &&  ++times < 4){
                    $("#impressTag").append('  <div class="tag"></div>');
                }
                if(++times == 6){
                    break;
                }

            }
        });
    });
    
    
    function getAge(birthday) {
        var now = new Date();
        var year = now.getFullYear();
        var birthYeay = birthday.substring(0,4);
        return year - birthYeay;
    }
</script>
</html>