<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.common.TSubjectTypeDictMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.common.TSubjectTypeDict">
		<id column="id" property="id" />
		<result column="parentCode" property="parentCode" />
		<result column="subjectTypeCode" property="subjectTypeCode" />
		<result column="subjectTypeName" property="subjectTypeName" />
		<result column="status" property="status" />
	</resultMap>
	<select id="getSubjectTypeByParentCode" resultType="java.util.HashMap" parameterType="java.lang.String">
		SELECT subjectTypeCode code,subjectTypeName value FROM t_subject_type_dict
		 WHERE parentCode=#{parentCode}
	</select>

</mapper>
