<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.customer.TFollowCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxs.entity.customer.TFollowCourse">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="courseCateId" property="courseCateId"/>
        <result column="organId" property="organId"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="getFollowCoursesByUser" parameterType="java.lang.Long" resultType="hashmap">
		SELECT
		c.id courseCateId,
		c.courseCategoryCode courseCode,
		c.courseCategoryName courseName,
		c.alreadyStudySum,
		c.subjectType,
		c.canQty
		FROM
		t_follow_course f,t_course_category c
		WHERE f.courseCateId=c.id
		AND f.userId=#{userId}
	</select>



</mapper>
