<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.customer.TWxUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.customer.TWxUser">
		<id column="unionId" property="unionId" />
		<result column="userId" property="userId" />
		<result column="openId" property="openId" />
		<result column="wxCode" property="wxCode" />
		<result column="headImg" property="headImg"/>
		<result column="gender" property="gender"/>
		<result column="mobilePhone" property="mobilePhone"/>
		<result column="status" property="status" />
		<result column="createTime" property="createTime" />
	</resultMap>

</mapper>
