<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TClassCoursesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxs.entity.course.TClassCourse">
        <id column="id" property="id"/>
        <result column="organizationId" property="organizationId"/>
        <result column="courseName" property="courseName"/>
        <result column="canQty" property="canQty"/>
        <result column="courseCateId" property="courseCateId"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="createTime" property="createTime"/>
        <result column="status" property="status"/>
        <result column="teacherId" property="teacherId"/>
        <result column="subjectType" property="subjectType"/>
        <result column="assistantIds" property="assistantIds"/>
        <result column="surplusClassLesson" property="surplusClassLesson"/>
    </resultMap>

    <select id="pageData" parameterType="TClassCourse" resultMap="BaseResultMap">
        select t.*,a.organName,b.courseCategoryName
        from t_class_course t
        left join t_organization a on a.id = t.organizationId
        left join t_course_category b on b.id = t.courseCateId
        <where>
            1=1
            <if test=" courseCode != null and !''.equals(courseCode)">
                and t.courseCode = #{courseCode}
            </if>
            <if test=" courseName != null and !''.equals(courseName)">
                and t.courseName = #{courseName}
            </if>
            <if test=" beginTime != null and !''.equals(beginTime)">
                and t.beginTime  &gt; #{beginTime}
            </if>
            <if test=" endTime != null and !''.equals(endTime)">
                and t.endTime &lt; #{endTime}
            </if>
            <if test=" canQty != null and !''.equals(canQty)">
                and t.canQty = #{canQty}
            </if>
            <if test=" surplusClassLesson != null and !''.equals(surplusClassLesson)">
                and t.surplusClassLesson = #{surplusClassLesson}
            </if>
            <if test=" courseCateId != null and !''.equals(courseCateId)">
                and t.courseCateId = #{courseCateId}
            </if>
            <if test=" organizationId != null and !''.equals(organizationId)">
                and t.organizationId = #{organizationId}
            </if>
            <if test=" status != null and !''.equals(status)">
                and t.status = #{status}
            </if>
        </where>
        limit #{pageStartIndex},#{limit}
    </select>

    <select id="selectMap" parameterType="java.lang.Long" resultType="java.util.HashMap">
		SELECT s.*,c.className,t.teacherName,o.organName,s.organizationId,o.leval
		FROM t_class_course s,t_class c,t_teacher t,t_organization o
        where c.courseId=s.id
        and c.teacherId=t.id
        and s.organizationId=o.id
        and  s.id = #{coursesId}
	</select>
</mapper>
