<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TClassMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.course.TClass">
		<id column="id" property="id" />
		<result column="classCode" property="classCode" />
		<result column="className" property="className" />
		<result column="classType" property="classType" />
		<result column="courseId" property="courseId" />
		<result column="teacherId" property="teacherId" />
		<result column="organId" property="organId" />
		<result column="level" property="level" />
		<result column="capacity" property="capacity" />
		<result column="createTime" property="createTime" />
		<result column="isEnd" property="isEnd" />
		<result column="status" property="status" />
		<result column="realQty" property="realQty" />
	</resultMap>
	
	<select id="pageData" parameterType="TClass" resultMap="BaseResultMap">
		select t.*,a.teacherName,b.courseName,l.organName
		from t_class t
		left join t_teacher a on a.id = t.teacherId
		left join t_class_course b on b.id = t.courseId
		left join t_organization l on l.id = t.organId
		<where>
			1=1
			<if test=" classCode != null and !''.equals(classCode)">
				and t.classCode = #{classCode}
			</if>
			<if test=" className != null and !''.equals(className)">
				and t.className = #{className}
			</if>
			<if test=" teacherId != null and !''.equals(teacherId)">
				and t.teacherId = #{teacherId}
			</if>
			<if test=" courseId != null and !''.equals(courseId)">
				and t.courseId = #{courseId}
			</if>
			<if test=" organId != null and !''.equals(organId)">
				and t.organId = #{organId}
			</if>
			<if test=" level != null and !''.equals(level)">
				and t.level = #{level}
			</if>
			<if test=" capacity != null and !''.equals(capacity)">
				and t.capacity = #{capacity}
			</if>
			<if test=" realQty != null and !''.equals(realQty)">
				and t.realQty = #{realQty}
			</if>
			<if test=" isEnd != null and !''.equals(isEnd)">
				and t.isEnd = #{isEnd}
			</if>
			<if test=" status != null and !''.equals(status)">
				and t.status = #{status}
			</if>
		</where>
			limit #{pageStartIndex},#{limit}
	</select>
	
	<select id="searchByName" resultMap="BaseResultMap">
		select t.*
		from t_class t
		inner join t_teacher a on a.id = t.teacherId
		inner join t_front_user b on b.id = a.userId
		where 1=1
		<if test=" type == 1 ">
			 and b.id = #{userId}
		</if>
		<if test=" type == 2 ">
			 and t.organId = #{organId}
		</if>
		<if test=" name != null and !''.equals(name)">
			and t.className like concat('%',#{name},'%')
		</if>

	</select>

</mapper>
