<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TClassLessonMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.course.TClassLesson">
		<id column="id" property="id" />
		<result column="lessonSeq" property="lessonSeq" />
		<result column="courseId" property="courseId" />
		<result column="beginTime" property="beginTime" />
		<result column="endTime" property="endTime" />
		<result column="shouldQty" property="shouldQty" />
		<result column="realQty" property="realQty" />
		<result column="content" property="content" />
		<result column="shouldTearcherId" property="shouldTearcherId" />
		<result column="realTearcherId" property="realTearcherId" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>
	<select id="pageData" parameterType="TClassLesson" resultMap="BaseResultMap">
		select t.*,a.courseName,
		(select teacherName from t_teacher where id = t.shouldTearcherId) as shouldTearcherName,
		(select teacherName from t_teacher where id = t.realTearcherId) as realTearcherName
		from t_class_lesson t
		left join t_class_course a on a.id = t.courseId
		<where>
			1=1
			<if test=" lessonSeq != null and !''.equals(lessonSeq)">
				and t.lessonSeq = #{lessonSeq}
			</if>
			<if test=" lessonName != null and !''.equals(lessonName)">
				and t.lessonName = #{lessonName}
			</if>
			<if test=" courseId != null and !''.equals(courseId)">
				and t.courseId = #{courseId}
			</if>
			<if test=" content != null and !''.equals(content)">
				and t.content like concat('%',#{content},'%')
			</if>
			<if test=" beginTime != null and !''.equals(beginTime)">
				and t.beginTime  &gt; #{beginTime}
			</if>
			<if test=" endTime != null and !''.equals(endTime)">
				and t.endTime &lt; #{endTime}
			</if>
			<if test=" shouldQty != null and !''.equals(shouldQty)">
				and t.shouldQty = #{shouldQty}
			</if>
			<if test=" realQty != null and !''.equals(realQty)">
				and t.realQty = #{realQty}
			</if>
			<if test=" shouldTearcherId != null and !''.equals(shouldTearcherId)">
				and t.shouldTearcherId = #{shouldTearcherId}
			</if>
			<if test=" realTearcherId != null and !''.equals(realTearcherId)">
				and t.realTearcherId = #{realTearcherId}
			</if>
			<if test=" status != null and !''.equals(status)">
				and t.status = #{status}
			</if>
		</where>
		limit #{pageStartIndex},#{limit}
	</select>

	<select id="queryLessionByCourse" resultType="java.util.HashMap">
		SELECT beginTime,endTime,lessonSeq
		<if test="studentId !=null">
			,condition
		</if>
		FROM `t_class_lesson` l
		<if test="studentId !=null">
			LEFT  JOIN  (SELECT * FROM t_student_lessones where studentId=#{studentId}) s
			ON l.lessonId=s.id
		</if>
		 WHERE l.courseId=#{courseId}
	</select>

	<select id="selectLessionByParm" parameterType="com.wxs.entity.course.TClassLesson" resultType="com.wxs.entity.course.TClassLesson">
		SELECT beginTime,endTime,lessonSeq FROM `t_class_lesson` WHERE 1=1
		<if test="id != null  ">
			AND id = #{id}
		</if>
		<if test="courseId != null  ">
			AND courseId = #{courseId}
		</if>
		<if test="lessonSeq != null  ">
			AND lessonSeq = #{lessonSeq}
		</if>
		<if test="status != null ">
			AND status = #{status}
		</if>
	</select>

</mapper>
