<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TCourseCategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.course.TCourseCategory">
		<id column="id" property="id" />
		<result column="courseCategoryName" property="courseCategoryName" />
		<result column="courseCategoryCode" property="courseCategoryCode" />
		<result column="canQty" property="canQty" />
		<result column="explain" property="explain" />
		<result column="organId" property="organId" />
		<result column="status" property="status" />
		<result column="createTime" property="createTime" />
		<result column="alreadyStudySum" property="alreadyStudySum" />
		<result column="wishStudySum" property="wishStudySum" />
		<result column="marketPrice" property="marketPrice" />
		<result column="preferenPrice" property="preferenPrice" />
		<result column="preferStartTime" property="preferStartTime" />
		<result column="preferEndTime" property="preferEndTime" />
		<result column="courseRemark" property="courseRemark" />
		<result column="courseType" property="courseType" />
		<result column="categoryType" property="categoryType" />
		<result column="cover" property="cover" />
	</resultMap>
</mapper>
