<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TCourseCategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wxs.entity.course.TCourseCategory">
		<id column="id" property="id" />
		<result column="courseCategoryName" property="courseCategoryName" />
		<result column="courseCategoryCode" property="courseCategoryCode" />
		<result column="canQty" property="canQty" />
		<result column="explain" property="explain" />
		<result column="organId" property="organId" />
		<result column="status" property="status" />
		<result column="createTime" property="createTime" />
		<result column="alreadyStudySum" property="alreadyStudySum" />
		<result column="marketPrice" property="marketPrice" />
		<result column="preferenPrice" property="preferenPrice" />
		<result column="preferStartTime" property="preferStartTime" />
		<result column="preferEndTime" property="preferEndTime" />
		<result column="courseRemark" property="courseRemark" />
		<result column="subjectType" property="subjectType" />
		<result column="cover" property="cover" />
		<result column="createUserId" property="createUserId" />
		<result column="leval" property="leval" />
	</resultMap>

	<select id="pageData" parameterType="TCourseCategory" resultMap="BaseResultMap">
		select t.*,a.organName
		from t_course_category t
		left join t_organization a on a.id = t.organId
		<where>
			1=1
			<if test=" courseCategoryCode != null and !''.equals(courseCategoryCode)">
				and t.courseCategoryCode = #{courseCategoryCode}
			</if>
			<if test=" courseCategoryName != null and !''.equals(courseCategoryName)">
				and t.courseCategoryName = #{courseCategoryName}
			</if>
			<if test=" marketPrice != null and !''.equals(marketPrice)">
				and t.marketPrice = #{marketPrice}
			</if>
			<if test=" preferenPrice != null and !''.equals(preferenPrice)">
				and t.preferenPrice = #{preferenPrice}
			</if>
			<if test=" preferStartTime != null and !''.equals(preferStartTime)">
				and t.preferStartTime  &gt; #{preferStartTime}
			</if>
			<if test=" preferEndTime != null and !''.equals(preferEndTime)">
				and t.preferEndTime &lt; #{preferEndTime}
			</if>
			<if test=" wishStudySum != null and !''.equals(wishStudySum)">
				and t.wishStudySum = #{wishStudySum}
			</if>
			<if test=" alreadyStudySum != null and !''.equals(alreadyStudySum)">
				and t.alreadyStudySum = #{alreadyStudySum}
			</if>
			<if test=" organId != null and !''.equals(organId)">
				and t.organId = #{organId}
			</if>
			<if test=" canQty != null and !''.equals(canQty)">
				and t.canQty = #{canQty}
			</if>
			<if test=" status != null and !''.equals(status)">
				and t.status = #{status}
			</if>
		</where>
		limit #{pageStartIndex},#{limit}
	</select>

	<select id="getCourseListByParam" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT courseCategoryName courseName,canQty,alreadyStudySum,explain
		 FROM t_course_category
		WHERE 1=1
	  <if test="organId!=null">
		  organId = #{organId}
	  </if>
		<if test="subjectType!=null">
			subjectType = #{subjectType}
		</if>
	</select>
	<select id="searchCourseListForDiscovery" resultMap="BaseResultMap">
		SELECT * FROM t_course_category WHERE 1=1
		<if test="subjectType!=null">
			AND subjectType=#{subjectType}
		</if>
		<if test="organIds==null and courseName!=null">
			AND courseName LIKE '%${courseName}%'
		</if>
		<if test="organIds!=null and courseName!=null">
			AND (courseName LIKE '%${courseName}%' or organId in (${organIds}))
		</if>


	</select>
</mapper>
