<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.mapper.course.TStudentCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxs.entity.course.TStudentCourse">
        <id column="id" property="id"/>
        <result column="studentId" property="studentId"/>
        <result column="ostudentId" property="ostudentId"/>
        <result column="userId" property="userId"/>
        <result column="organizationId" property="organizationId"/>
        <result column="coursesId" property="coursesId"/>
        <result column="courseCateId" property="courseCateId"/>
        <result column="status" property="status"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <select id="getCoursesIds" parameterType="map" resultType="java.lang.String">
        SELECT group_concat(coursesId) FROM t_student_course WHERE `status` = 0
        <if test="studentId !=null">
            AND studentId = #{studentId}
        </if>
        <if test="userId !=null">
            AND userId = #{userId}
        </if>
        <if test="organizationId !=null">
            AND organizationId = #{organizationId}
        </if>
    </select>
    <select id="getMyCourses" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        y.courseCategoryName as courseName,
        y.alreadyStudySum as alreadyStudySum,
        c.canQty,
        y.id as coursesId,
        y.subjectType,
        s.studentId,
        t.realName,
        s.isEnd
        FROM
        t_student_course s,
        t_class_course c,
        t_course_category y,
        t_student t
        WHERE
        s.coursesId = c.id
        AND y.id = c.courseCateId
        AND t.id = s.studentId
        <if test="userId!=null">
            AND s.userId = #{userId}
        </if>
        <if test="isEnd!=null">
            AND s.isEnd = #{isEnd}
        </if>
    </select>
    <select id="getClassStudentCountByParam" parameterType="com.wxs.entity.course.TStudentCourse" resultType="int">
        select count(1) from t_student_course c where 1=1
        <if test="organizationId!=null">
            and c.organizationId=#{organizationId}
        </if>
        <if test="courseCateId!=null">
            and c.courseCateId=#{courseCateId}
        </if>
        <if test="userId!=null">
            and c.userId=#{userId}
        </if>
    </select>

</mapper>
